*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
ul{
  list-style:none;
  width:460px;
  height:460px;
  margin:20px auto;
  padding:15px;
  background-color:#90D4A8;
  border: 2px solid #568C7C;
  border-radius:10px;
}
@media only screen and (max-width:500px){
  ul{
  list-style:none;
  width:98vw;
  height:98vw;
  margin:20px auto;
  padding:15px;
  background-color:#90D4A8;
  border: 2px solid #568C7C;
  border-radius:10px;
}
}
.grid{
  display:inline-block;
  background-color:#568C7C;
  width:32.5%;
  height:32.5%;
  flow:left;
  margin:0;
  padding:0;
}
